### DISCOVERY ###
DISCOVERY_PORT=8761
DISCOVERY_HOSTNAME=localhost

### GATEWAY ###
GATEWAY_PORT=8080

### IAM ###
IAM_PORT=8081
IAM_KEYCLOAK_SERVER_URL=http://localhost:8080
IAM_KEYCLOAK_REALM=master
IAM_KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/master
IAM_KEYCLOAK_TOKEN_ENDPOINT=http://localhost:8080/realms/master/protocol/openid-connect/token
IAM_KEYCLOAK_LOGOUT_ENDPOINT=http://localhost:8080/realms/master/protocol/openid-connect/logout
IAM_KEYCLOAK_CLIENT_ID=iam-public
IAM_KEYCLOAK_ADMIN_CLIENT_ID=iam-admin
IAM_KEYCLOAK_ADMIN_CLIENT_SECRET=changeme

### SHARED ###
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/
